fastapi
uvicorn
langgraph
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters
faiss-cpu
sentence-transformers
pymupdf
pydantic
pydantic-settings
python-dotenv
requests
arxiv
tavily-python